@model List<Customer>

@{
    ViewData["Title"] = "Customer List";
}

<partial name="_Notification" />

<div class="container">
    <div class="row align-items-center">
        <div class="col-3">
            <h3>Customer List</h3>
        </div>
        <form method="get" asp-controller="Customer" asp-action="Index" class="d-flex col-6">
            <input name="Code" class="form-control me-2 text-uppercase fs-5" type="search" placeholder="Code" aria-label="Search">
            <button class="btn btn-secondary" type="submit">Search</button>
        </form>
        <div class="col-3 text-end">
            <a asp-controller="Customer" asp-action="Create" class="btn btn-secondary">Add Customer</a>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <div>
            <a asp-controller="Customer" asp-action="Index" class="btn btn-secondary">Full List</a>
        </div>
        <div>
            <ul class="pagination d-flex align-items-center gap-3">
                <li class="page-item"><a class="page-link border-dark fw-bold btn" href="#">&laquo;</a></li>
                Page 1 of 10
                <li class="page-item"><a class="page-link border-dark fw-bold btn" href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>

    @if (Model.Any() && Model != null)
    {
        <table class="table table-bordered border-dark table-hover text-center fs-5 mt-2">
            <thead class="fw-bold">
                <tr>
                    <td>
                        S.N.
                    </td>
                    <td>
                        Code
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Email
                    </td>
                    <td>
                        Phone
                    </td>
                    <td>
                        Address
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
            </thead>
            <tbody>
                @for(int i = 0; i < Model.Count; i++)
                {   
                    <tr>
                        <td>
                            @(i+1)
                        </td>
                        <td>
                            @Model[i].Code?.ToUpper()
                        </td>
                        <td>
                            @Model[i].Name?.ToUpper()
                        </td>
                            <td>
                            @Model[i].Email
                            </td>
                            <td>
                                @Model[i].Phone
                            </td>
                            <td>
                                @Model[i].Address?.ToUpper()
                            </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-secondary">
                                    <i class="bi bi-pencil-square mx-1"></i>
                                    Edit
                                </a>
                                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@Model[i].Id" class="btn btn-danger">
                                    <i class="bi bi-trash3-fill mx-1"></i>
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="fs-3 text-danger text-center mt-5">
            No Data Found!
        </div>
    }
</div>

@section Scripts
{
    <script>
        $('#linkCustomers').addClass('active');
    </script>
}

