@model List<Lender>

@{
    ViewData["Title"] = "List Defaulters";
}

<partial name="_Notification" />

<div class="container">
    <div class="row pb-4 mt-3">
        <div class="col-3">
            <h3>Defaulters List</h3>
        </div>
        <form method="get" asp-action="GetDefaulter" class="d-flex col-6">
            <input name="CustomerCode" class="form-control me-2 fs-5 text-uppercase" type="search" placeholder="Code" aria-label="Search">
            <button class="btn btn-primary fs-5" type="submit">Search</button>
        </form>
        <div class="col-3 text-end">
            <a asp-controller="Lender" asp-action="Index" class="btn btn-primary fs-5">Lenders List</a>
        </div>
    </div>
    <button class="btn btn-primary fs-5">
        <a asp-action="GetDefaulter" class="text-white text-decoration-none">Full List</a>
    </button>
    <table class="table table-primary table-hover table-bordered border-primary fw-bold text-center mt-3">
        <thead class="text-primary">
            <tr>
                <td>
                    Customer Code
                </td>
                <td>
                    Book Code
                </td>
                <td>
                    From Date
                </td>
                <td>
                    To Date
                </td>
                <td>
                    Penalty
                </td>
                <td>
                    Action
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model)
            {
                <tr>
                    <td>
                        @list.Customer.Code
                    </td>
                    <td>
                        @list.Book.Code
                    </td>
                    <td>
                        @list.FromDate
                    </td>
                    <td>
                        @list.ToDate
                    </td>
                    <td>
                        @list.Penalty
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="Return" asp-action="Edit" asp-route-customerCode="@list.Id" class="btn btn-danger">
                                <i class="bi bi-pencil-square mx-1"></i>
                                Return
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $('#linkLenders').addClass('active');
    </script>
}
