
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Notification" />


<div class="pt-5 row">
    <a asp-controller="Book" asp-action="Index" class="text-decoration-none col-3 mx-5 mt-5">
        <div class="border border-secondary border-4 p-0 text-center fw-bold">
            <div class="bg-secondary pt-2 pb-1">
                <p class="fs-3 text-white">Total Books</p>
            </div>
            <div class="pt-4 fs-1 pb-3 text-black">
                <p>@ViewBag.bookCount</p>
            </div>
        </div>
    </a>
    <a asp-controller="Customer" asp-action="Index" class="text-decoration-none col-3 mx-5 mt-5">
        <div class="border border-secondary border-4 p-0 text-center fw-bold">
            <div class="bg-secondary fs-3 text-white pt-2 pb-1">
                <p class="">Total Customers</p>
            </div>
            <div class="pt-4 fs-1 pb-3 text-black">
                <p>@ViewBag.customerCount</p>
            </div>
        </div>
    </a>
    <a asp-controller="Book" asp-action="Index" class="text-decoration-none col-3 mx-5 mt-5">
        <div class="border border-secondary border-4 p-0 text-center fw-bold">
            <div class="bg-secondary fs-3 text-white pt-2 pb-1">
                <p class="">Total Issue</p>
            </div>
            <div class="pt-4 fs-1 pb-3 text-black">
                <p>@ViewBag.issueCount</p>
            </div>
        </div>
    </a>
    <a asp-controller="Lender" asp-action="Index" class="text-decoration-none col-3 mx-5 mt-5">
        <div class="border border-secondary border-4 p-0 text-center fw-bold">
            <div class="bg-secondary fs-3 text-white pt-2 pb-1">
                <p class="">Total Defaulters</p>
            </div>
            <div class="pt-4 fs-1 pb-3 text-black">
                <p>@ViewBag.defaulterCount</p>
            </div>
        </div>
    </a>
    <a asp-controller="Lender" asp-action="Index" class="text-decoration-none col-3 mx-5 mt-5">
        <div class="border border-secondary border-4 p-0 text-center fw-bold">
            <div class="bg-secondary fs-3 text-white pt-2 pb-1">
                <p class="">Total Penalty</p>
            </div>
            <div class="pt-4 fs-1 pb-3 text-black">
                <p>@ViewBag.totalPenalty</p>
            </div>
        </div>
    </a>
</div>

@section Scripts
{
    <script>
        $('#linkDashboard').addClass('active');
    </script>
}

